body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .page-container {
    &.loading {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
    }
  }

  .youtube-pages, .instagram-pages {
    margin: auto;
    max-width: 800px;
    margin-top: 100px;

    .form-searching {
      display: flex;
      align-items: center;

      > div {
        flex: 1;
      }
    }

    .images {
      display: flex;
      flex-wrap: wrap;

      img {
        margin: 5px;
        width: 150px;
        height: 150px;
      }
    }
  }
}

@import './shared/form';
@import '~pages/Home/style';
@import '~components/Task/style';
